.calibration__button {
  display: none;
  position: absolute;
  top: 20px;
  z-index: 100;
}

.dress-wrapper {
  position: relative;
  transform-style: preserve-3d;
}

.dreams__dress {
  max-width: 350px;
  position: relative;
  z-index: 1;
}

.shine-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: 0.7;

  -webkit-mask-image: url('/src/assets/dress.png');
  mask-image: url('/src/assets/dress.png');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}